label {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
 }
 
 

.red-button-big {
    height: 5.6rem;
    width: 100%;
    border: .2rem solid #c5281c;
    background: #c5281c;
    color: #fff;
    font-family: Helvetica-Neue-65-Medium;
    font-size: 1.7rem;
    cursor: pointer;
}