
<input
  style="display: none"
  type="file" (change)="onFileChanged($event)"
  #fileInput>
<button class="red-button-big" (click)="fileInput.click()">Eidit Photo</button>

<p>{{imageSrc}}</p>

<input type="file">